.footer {
  background-color: #fff;
}

.footer .foot {
  border-bottom: 1px solid rgba(153, 153, 153, 0.5);
  border-top: 1px solid rgba(153, 153, 153, 0.5);
  margin-top: 5%;
}

.informa {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  margin: auto;
}

.informa div {
  border: 1px solid rgba(153, 153, 153, 0.5);
  text-align: center;
  height: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 5%;
  cursor: pointer;
}

.informa div img {
  width: 100px;
  height: 100px;
}

.informa div p:nth-child(2) {
  text-transform: uppercase;
  color: #344c55;
  font-weight: bold;
  margin: 8% 0 5% 0;
}

.informa div p:nth-child(3) {
  color: #777;
}

.footer-table {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 3% 5%;
}

.footer-table ul {
  list-style-type: none;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.footer-table ul li:not(.footer-table ul li:first-child) span {
  cursor: pointer;
}

.footer-table ul li:not(.footer-table ul li:first-child) span:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #000;
}

.footer-table ul li:first-child {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5%;
  color: #344c55;
}

.footer-table ul li:not(.footer-table ul li:first-child) {
  margin-bottom: 2%;
  color: #777;
}
.footer-table ul:last-child input {
  padding: 5px;
  outline: none;
  border: none;
  /* border: 1px solid #f7f7f7; */
  background-color: #f7f7f7;
}

.footer-table ul:last-child input::placeholder {
  padding: 5px;
  color: rgba(117, 115, 115, 0.658);
}

.footer-table .last li:nth-child(2) {
  display: flex;
}

.footer-table ul:last-child button {
  padding: 5px;
  background-color: #333333;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
}

hr {
  border-bottom: 1px solid rgba(153, 153, 153, 0.5);
}

.payment-connect {
  display: flex;
}

.p-c {
  margin: 2% 5%;
}

.p-c p {
  font-weight: bold;
  color: #334c55;
}

.p-c ul {
  display: flex;
  list-style-type: none;
}

.p-c ul li {
  margin: 5px;
}

.p-c ul li img {
  width: 40px;
}

.copyright {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin: 0.5% 5%;
}

.dancing-heart {
  width: 14px;
  margin-left: 8px;
}