<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script
            src="https://kit.fontawesome.com/9d6433328b.js"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="/components/navbar.css" />
        <link rel="stylesheet" href="/components/footer.css" />
        <title>Document</title>
    </head>
    <body>
        <!-- navbar -->
        <div class="navbar">
            <div class="top">
                <div><p>Brand Waali Quality. Bazaar waali Deal!</p></div>
                <div>
                    <ul>
                        <li>Impact@Snapdeal</li>
                        <li>Gift Cards</li>
                        <li>Help Center</li>
                        <li>Sell On Snapdeal</li>
                        <li>
                            <i class="fa-solid fa-mobile-screen-button"></i
                            ><span>Downloas App</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav">
                <div class="left">
                    <a href="#"
                        ><img
                            src="/components/logo/snapdeal-logo.png"
                            alt="Snapdeal logo"
                    /></a>
                </div>
                <div class="middle">
                    <input
                        type="text"
                        name=""
                        id="search"
                        class="search-bar"
                        placeholder="Search products & brands"
                        autocomplete="off"
                    />
                    <button>
                        <i class="fa-solid fa-magnifying-glass"></i
                        ><span>Search</span>
                    </button>
                </div>
                <div class="right">
                    <div class="cart">
                        <p>Cart</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                    <div class="user">
                        <p>Sign In</p>
                        <i class="fa-solid fa-user"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="informa">
                <div class="secure-payments">
                    <img src="/components/logo/secure-payment.png" alt="" />
                    <p>100% secure payments</p>
                    <p>Moving your card details to a much more secured place</p>
                </div>
                <div class="trustpay">
                    <img src="/components/logo/insurance.png" alt="" />
                    <p>Trustpay</p>
                    <p>100% Payment Protection. Easy Return Policy</p>
                </div>
                <div class="help-center">
                    <img src="/components/logo/help-desk.png" alt="" />
                    <p>help center</p>
                    <p>
                        Got a question? Look no further. Browse our FAQs or
                        submit your query here.
                    </p>
                </div>
                <div class="shop-on-go">
                    <img src="/components/logo/mobile-phone.png" alt="" />
                    <p>shop on the go</p>
                    <p>
                        Download the app and get exciting app only offers at
                        your fingertips
                    </p>
                </div>
            </div>

            <div class="footer-table"></div>
        </div>
    </body>
</html>
