<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script
            src="https://kit.fontawesome.com/9d6433328b.js"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="/components/navbar.css" />
        <link rel="stylesheet" href="/components/footer.css" />
        <title>Document</title>
    </head>
    <body>
        <!-- navbar -->
        <!-- <div class="navbar">
            <div class="top">
                <div><p>Brand Waali Quality. Bazaar waali Deal!</p></div>
                <div>
                    <ul>
                        <li>Impact@Snapdeal</li>
                        <li>Gift Cards</li>
                        <li>Help Center</li>
                        <li>Sell On Snapdeal</li>
                        <li>
                            <i class="fa-solid fa-mobile-screen-button"></i
                            ><span>Downloas App</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav">
                <div class="left">
                    <a href=""
                        ><img
                            src="/components/logo/snapdeal-logo.png"
                            alt="Snapdeal logo"
                    /></a>
                </div>
                <div class="middle">
                    <input
                        type="text"
                        name=""
                        id="search"
                        class="search-bar"
                        placeholder="Search products & brands"
                        autocomplete="off"
                    />
                    <button>
                        <i class="fa-solid fa-magnifying-glass"></i
                        ><span>Search</span>
                    </button>
                </div>
                <div class="right">
                    <div class="cart">
                        <p>Cart</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                    <div class="pop-down">
                        <div id="user" class="user">
                            <p>Sign In</p>
                            <i class="fa-regular fa-user"></i>
                        </div>
                    </div>
                    <div id="ham" class="ham">
                        <div class="your-account a">
                            <i class="fa-regular fa-user"></i>
                            <p>Your Account</p>
                        </div>
                        <div class="your-order a">
                            <i class="fa-solid fa-box-archive"></i>
                            <p>Your Account</p>
                        </div>
                        <div class="shortlist a">
                            <i class="fa-regular fa-heart"></i>
                            <p>Your Account</p>
                        </div>
                        <hr />
                        <div class="reg-log">
                            <p>If you are a new user</p>
                            <p>Register</p>
                            <button>LOGIN</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        
        <!-- footer -->
        <!-- <div class="footer">
            <div class="foot">
                <div class="informa">
                    <div class="secure-payments">
                        <img src="/components/logo/secure-payment.png" alt="" />
                        <p>100% secure payments</p>
                        <p>
                            Moving your card details to a much more secured
                            place
                        </p>
                    </div>
                    <div class="trustpay">
                        <img src="/components/logo/insurance.png" alt="" />
                        <p>Trustpay</p>
                        <p>100% Payment Protection. Easy Return Policy</p>
                    </div>
                    <div class="help-center">
                        <img src="/components/logo/help-desk.png" alt="" />
                        <p>help center</p>
                        <p>
                            Got a question? Look no further. Browse our FAQs or
                            submit your query here.
                        </p>
                    </div>
                    <div class="shop-on-go">
                        <img src="/components/logo/mobile-phone.png" alt="" />
                        <p>shop on the go</p>
                        <p>
                            Download the app and get exciting app only offers at
                            your fingertips
                        </p>
                    </div>
                </div>
            </div>

            <div class="footer-table">
                <ul>
                    <li>policy info</li>
                    <li><span>Privacy Policy</span></li>
                    <li><span>Terms of Sale</span></li>
                    <li><span>Terms of Use</span></li>
                    <li><span>Report Abuse & Takedown Policy</span></li>
                    <li><span>FAQ</span></li>
                </ul>
                <ul>
                    <li>Company</li>
                    <li><span>Import@snapdeal</span></li>
                    <li><span>Careers</span></li>
                    <li><span>Blog</span></li>
                    <li><span>Sitemap</span></li>
                    <li><span>Contact Us</span></li>
                </ul>
                <ul>
                    <li>snapdeal business</li>
                    <li><span>Shopping App</span></li>
                    <li><span>Sell on Snapdeal</span></li>
                    <li><span>Media Enquiries</span></li>
                </ul>
                <ul>
                    <li>popular links</li>
                    <li><span>Lehenga</span></li>
                    <li><span>Headphones</span></li>
                    <li><span>Kid's Clothing</span></li>
                    <li><span>Sarees</span></li>
                    <li><span>Shoes</span></li>
                    <li><span>Winter Wear</span></li>
                    <li><span>Shirt For Men</span></li>
                </ul>
                <ul class="last">
                    <li>Subscribe</li>
                    <li>
                        <input type="text" placeholder="Your email address" />
                        <button>subscribe</button>
                    </li>
                    <li>
                        Register now to get updates on promotions and coupons. <br>
                        <span
                            ><a class="on-download" href="#"
                                >Or Download App</a
                            ></span
                        >
                    </li>
                </ul>
            </div>
            <hr />
            <div class="payment-connect">
                <div class="payment-cards-details p-c">
                    <p>PAYMENT</p>
                    <ul>
                        <li>
                            <img
                                src="/components/logo/credit-card.png"
                                alt=""
                            />
                        </li>
                        <li>
                            <img
                                src="/components/logo/credit-cards.png"
                                alt=""
                            />
                        </li>
                        <li>
                            <img
                                src="/components/logo/credit-card (1).png"
                                alt=""
                            />
                        </li>
                        <li>
                            <img
                                src="/components/logo/credit-card (2).png"
                                alt=""
                            />
                        </li>
                        <li>
                            <img
                                src="/components/logo/cash-on-delivery.png"
                                alt=""
                            />
                        </li>
                        <li>
                            <img src="/components/logo/banking.png" alt="" />
                        </li>
                    </ul>
                </div>
                <div class="connect p-c">
                    <p>Connect</p>
                    <ul>
                        <li>
                            <img
                                src="https://img.icons8.com/fluency/48/000000/facebook-new.png"
                            />
                        </li>
                        <li>
                            <img
                                src="https://img.icons8.com/fluency/48/000000/twitter.png"
                            />
                        </li>
                        <li>
                            <img
                                src="https://img.icons8.com/fluency/48/000000/instagram-new.png"
                            />
                        </li>
                        <li>
                            <img
                                src="https://img.icons8.com/fluency/48/000000/linkedin-circled.png"
                            />
                        </li>
                        <li>
                            <img
                                src="https://img.icons8.com/fluency/48/000000/youtube-play.png"
                            />
                        </li>
                    </ul>
                </div>
            </div>
            <hr />
            <div class="copyright">
                <p>
                    Copyright &#169; 2021, Snapdeal Limited. All Rights Reserved
                </p>
                <span
                    >Made for Bharat<img
                        class="dancing-heart"
                        src="/components/logo/icons8-heart.gif"
                /></span>
            </div>
        </div> -->

        <div id="header"></div>
        <div id="footer"></div>
    </body>
</html>

<script type="module">

    // Change import path from "./navbar.js" to "./components/navbar.js" 

    import { navbar, footer } from "./navbar.js";

    // Navbar data

    let header = document.querySelector("#header");
    header.innerHTML = navbar();

    // Footer data

    let foot = document.querySelector("#footer");
    foot.innerHTML = footer();

    // dropdown menu
    
    var btn1 = document.querySelector(".user");
    var list = document.querySelector(".ham");
    list.style.display = "none";
    btn1.addEventListener("click", function () {
        if (list.style.display == "none") {
            list.style.display = "block";
        } else {
            list.style.display = "none";
        }
    });
</script>
