@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap");

body {
    background-color: #f7f7f7;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

* {
    margin: 0%;
    padding: 0%;
}

#header { /* Parent folder in which navbar is appended */
    position: sticky;
    top: 0;
    z-index: 100;
}

.top {
    background-color: #c7003d;
    color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 1px 2%;
}

.top div:first-child {
    align-self: center;
    cursor: pointer;
}

.top ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.top ul li {
    margin: 5px 10px;
    cursor: pointer;
}

.top ul li i {
    margin-right: 5px;
}

.nav {
    display: flex;
    width: 100%;
    background-color: #e40046;
    color: #ffffff;
}

.nav .left {
    width: 20%;
}

.nav .left img {
    height: 65px;
    margin-left: 20%;
    cursor: pointer;
}

.middle {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
}

.middle input {
    width: 70%;
    padding: 0.6rem;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: #f7f7f7;
}

.middle button {
    background-color: #333333;
    color: #ffffff;
    padding: 0.5rem;
    width: 15%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
}

.nav .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    position: relative;
}

.nav .right .cart,
.pop-down {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav .right .ham {
    width: 80%;
    color: #fff;
    background-color: #333333;
    padding: 8px 0;
    flex-direction: column;
    position: absolute;
    top: 99%;
    right: 0%;
    padding: 8% 0;
    border-radius: 5px;
}

.nav .right .ham > .a {
    width: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;
}

.nav .right .ham .a:hover {
    width: 90%;
    background-color: #222222;
    display: flex;
    align-items: center;
    padding: 8px;
}

.nav .right .ham .shortlist {
    margin-bottom: 8%;
}

.nav .right .ham > .a i {
    margin: 0 10px;
}

.nav .right .ham > .a p {
    font-size: 14px;
}

.nav .right .ham .reg-log {
    text-align: center;
}

.nav .right .ham .reg-log p:first-child {
    font-size: 14px;
    margin-top: 10px;
}

.nav .right .ham .reg-log p:nth-child(2) {
    margin-top: 5px;
    cursor: pointer;
    font-size: 20px;
}

.nav .right .ham .reg-log button {
    margin-top: 5px;
    padding: 3px;
    color: #ffffff;
    width: 80%;
    background-color: #e40046;
    outline: none;
    border: 1px solid #c7003d;
    cursor: pointer;
}

.nav .right .user {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.nav .right .user:hover,.cart:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #333333;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .right div i {
    font-size: 20px;
    margin-left: 8%;
}

.user .fa-user {
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(114, 113, 113, 0.384);
    border-radius: 25px;
}

.nav .right div p {
    font-size: 16px;
}
