#upper {
    height: 120px;
/* padding: 0 0 20px 0; */
overflow: visible !important;
margin: 0 auto;
background: #e40046;
/* transform: translate(0, 0); */
width: 100%;
/* opacity: 1; */
font: inherit;
vertical-align: baseline;
display:flex;
justify-content: space-between;
}

#lower {
    background-color: rgb(248, 247, 247);
    height: auto;
    width: 95%;
    margin-top: -30px !important;
    display: flex;
    border-radius: 3px;

}

.blackheading {
    margin-bottom: 10px;
height: 76px;
border-radius: 3px 3px 0 0;
background-color: #333333;
font-size: 18px !important;
color: #ffffff;
line-height: 56px;
padding-left: 26px;
margin-top: -35px;
}

#cartdetails {
    height: auto;
    width: 25%;
    background-color: rgb(241, 241, 241);    /* margin:10px; */
}

#filldetails {
    height: auto;
    width: 80%;
    background-color: rgb(252, 252, 252);
    margin: 30px;

}



#upper>div{
margin: 20px;

}
p{
color:rgb(255, 255, 255);
font-size: 19px;
}
#icon{
height: 32px;
margin-top: 10px;
}

#address{
    font-size: 25px;
}
#payment{
    display:flex;

}
#paymentoption>div>p{
    font-size: 19px;
    margin-top: 15px;
    color: #333 !important;
}
#paymentoption>div{
    height:60px;
    
    box-sizing: border-box;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
   margin:7px;
    width: 50%;
   margin-left: -60px;
   justify-content: center;
    
}
#paymentoption>div:hover{
    background-color: #b1a5a5;
}

#paymentoption{
    height:auto;
    width:40%;

}
/* #bankoffer{
    border: 1px solid rgb(95, 85, 85);
    /* position: relative; */
    /* font-size: 13px; */
    /* display: none; */
    /* margin-bottom: 15px; */
    /* padding-bottom: 7px; */
    /* background-color: #2b1919; */
    /* height: 190px;
    width:97%;
    
    clear: both; 
}*/
#faltu{
    margin-top: 5px;
}
#faltu>p{
    font-size: 16px;
    color: rgb(112, 102, 102);
    font-style: inherit;
}
#paymentdetails{
    background-color:rgb(231, 240, 240) ;
    height:600px;
    width:65%;
    margin-left:-65px ;
    /* border:1px solid black */
}
#bankoffer{
    height:190px;
    width: 96%;
    
    margin-bottom: 15px; 
   padding-bottom: 7px;
   background-color:rgb(238, 234, 234) ;
   border: 1px solid rgb(182, 178, 178);
}
#bankdetails{
    display: flex;
    justify-content: space-around;
   
}
#bankdetails>div{
height: auto;
width: 40%;
background-color: #017E81;
display: flex;
justify-content: space-evenly;
border-radius: 5px;
}
.bank1st>img{
    height:35px;
    width:35px;
    margin-top: 5px;
    margin-left: 5px;
}
.bank2nd>p{
    font-size: 14px;
    color:#fffdfd;
    font-style: bold;
    margin:9px
   
}
.bank2nd>h6{
    font-size: 16px;
    margin:2px;
    color:white
}
.bank3rd>p{
color: #ffffff;
}
.number{
    display:flex;
    /* justify-content: space-evenly; */
}
.number>p{
    color:#333333;
    font-size: 19px;
    margin-left: 42px;
    font-style: inherit;
}
.number>input{
    height: 40px;
    width:300px;
    margin-left: 60px;
    font-size: 19px;
}
.mdiv{
    display:flex;
}
.ldiv{
    display:flex;
    gap:10px
}
.ldiv>p{
    color:#333333;
    font-size: 19px;
    font-style: inherit;
}
.ldiv>input{
    height: 40px;
    width: 80px;
    font-size: 19px;
}
.maindiv{
    display:flex;
    justify-content: space-evenly;
}
.mdiv{
    display: flex;
    justify-content: space-between;
    gap:20px
}
.mdiv>input{
    height: 40px;
    width: 60px;
    font-size: 19px;
}
.fdiv>p{
    color: #333333;
    font-size: 19px;
    margin-left: -85px;
    font-style: inherit;
}
#type{
    font-size: 20px;
    font-style: inherit;
    
}
#trusttext{
    color: #a19b9b;
    font-size: 19px;
    font-style: inherit;
   
}
#paybutton{
    height:55px;
    width:280px;
    background: #e40046;
    margin-top: 25px;
    margin-bottom: 15px;
    color:#e2e2e2;
    font-size: 19px;
    border-radius: 6px;
    /* float: left; */
}
.netclass{
    height: 40px;
    width:300px;
    margin-left: 140px;
    font-size: 19px;
}
#apply{
    height: 45px;
    width: 99px;
    border-radius: 4px;
    background-color: #333333;
    color: #fffdfd !important;
}
#upiinput{
    height: 45px;
    width: 350px;
    border-radius: 5px;
    margin-left: -90px;
    margin-right: 60px;
    font-size: 16px;
    font-style: inherit;
}
#verify{
    height:45px;
    width: 99px;
    background-color: #333333;
    color: #e2e2e2;
}






hr{
    color:rgb(133, 122, 122);
    width:85%;
}
#summery{
    font-size: 22px;
    font-style: inherit;
    margin-top: 15px;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 20px;

}
.small{
    font-size: 17px;
    font-style: inherit;
    color: rgb(139, 127, 127);
}
.big{
    font-size: 19px;
    font-style: inherit;
    color: #110f0f;
}
.displayflex{
    display: flex;
    justify-content: space-between;
}
.displayflex>p{
    margin-left: 15px;
    margin-right: 15px;
}
#product>div{
    border: 1px solid rgb(243, 236, 236);
}
#youpay>div>h4{
    font-size: 26px;
    color: rgb(66, 65, 65);
    margin-left: 19px;
    margin-right: 19px;
    font-style: inherit;
}
